<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">


    <title>Dados</title>
</head>
<body>

    <div class="dados">
    <h2>Dados Recebidos</h2>

    <p>Nome: <%= nome %></p>

    <p>Data de Nascimento: <%= dataNascimento %></p>

    <p>Gênero: <%= genero %></p>

    <p>Estado Civil: <%= estadoCivil %></p>

    <p>CEP: <%= cep %></p>

    <p>Logradouro: <%= logradouro %></p>

    <p>Número: <%= numero %></p>

    <p>Complemento: <%= complemento %></p>

    <p>Cidade: <%= cidade %></p>

    <p>Estado: <%= estado %></p>

    <p>CPF: <%= cpf %></p>

    <p>RG: <%= rg %></p>

    <p>Email: <%= email %></p>

    <p>Telefone: <%= telefone %></p>

    <a href="/">
        <button>Voltar</button>
    </a>

    </div>

    
</body>
</html>