<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/style.css">

    <title>Exercício 3</title>

</head>
<body>

    <div class="bloco2">

    <h1>Exercício 3</h1>

    <h2>Verificando o status do aluno</h2>
    <h1> <%= nome %> </h1>

    <h1> Notas </h1>
    <h2> <%= nota1 %>,<%= nota2 %>,<%= nota3 %> e <%= nota4 %> </h2>

    <h1> Status: <%= status %> </h1>

    <h2>Voltar para o índice:</h2>
    <h2> <a href="/index">Voltar</a> </h2>

    </div>
</body>
</html>